*{
    font-family: sans-serif;
}
.p{
    font-size:18px;
    color: grey;
}
span{
    font-size:20px;
}
.con{
    text-align: center;
    height: 900px;
    width: 70%;
    margin: auto;
    margin-top: 3%;
}
.main-heading{
    color: black;
    font-size:40px;
    font-weight:700;
}
.normal-text{
    font-size:19px;
    color: grey;
}
.main{
    display: flex;
    margin-top: 5%;
}
.main>:nth-child(2){
    height:700px;
}
.left{
     width: 42%;
     margin-top: 3%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     padding-bottom: 100px;
     height:520px;
 }
 .left>:nth-child(1){
    margin-left: 40px;
 }
 .right{
    width: 59%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }
 .plus{
     height: 130px;
     width: 100%;
     text-align: start;
     display: flex;
 }
 .plus>:nth-child(1){
     margin-right: 20px;
 }
/* h1{
    padding: 0%;
} */
.btm{
    height: 300px;
    width: 100%;
    text-align: left;
    
}
.btm>div>img{
    width: 6%;
   margin: 8% 5% 2%;
}
.i{
    width: 90%;
}
.r{
    height: 180px;
    width: 200px;
}
.btm>div{
    display: flex;
}

.btm>div>span{
    margin-top: 35px;
}

#bt{
    background-color: #08bd80;
    margin:  10% 29% 10%;
    height:50px;
    width:200px;
    font-weight: 700;
}
.top{
    width: 80%;
    margin: auto;
    margin-top: 4%;
    display: flex;
}
.top>div{
    text-align: left;
}
.top>:nth-child(2){
    width: 200px;
}
#im{
    width: 100px;
    margin-left: 28%;
}
.down{
    margin-left:45px;
    display: flex;
}
.down>:nth-child(1){
    width: 60%;
}
.down>div>div{
    display: flex;
}

.down>div>div>span{
    margin-top: 49px;
}

.down>div>div>img{
    width: 9%;
   margin: 16% 5% 0%;
}
#downbtn{
    margin: 36px 5px 3px;
    background-color: #08bd80;
}

.two-btns{
    display: flex;
    justify-content:space-around;
    margin: auto;
    width: 80%;
    margin-top:50px;
}
.two-btns>button{
    height:50px;
    width:200px;
}
.two-btns>:nth-child(1){
    background-color: #08bd80;
    font-weight: 700;
}
.two-btns>:nth-child(2){
    color: #08bd80;
    font-size:18px;
    font-weight: 700;
}
.lite{
    margin-top:50px;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.lite>:nth-child(1){
    display: flex;
    width: 40%;
    justify-content:space-between;
    text-align:left;
    margin-top: 50px;
    margin-left: 50px;
}
.lite>:nth-child(2){
    display: flex;
    justify-content:space-around;
    width:60%;
    margin-top: 50px;
    margin-left: 50px;
    text-align:left;
}
.last-image{
    height:60%;

}
.image12{
    width: 35px;
    height:35px;
}
span{
    padding-top:10px;
}
#image12{
    margin-left: 20px;
}
.last-div>div{
    display: flex;
    margin: 20px;
}
#last-btn{
    background-color:#08bd80;
    margin-top: 50px;
    font-size:18px;
    font-weight: 700;
    
}



